body {
  background-color: #e5e5e5;
}

.rcorners {
  border-radius: 15px;
  background: #ffffff;
  width: auto;
}

.center-div {
	margin: auto;
}

.left-margin {
	margin-left: 30px;
}

.bottom-padding {
	padding-bottom: 30px
}

.margin-top {
	margin-top: 20px
}

.sub-title-top-bottom {
	padding-top: 10px;
	padding-bottom: 10px
}

.sub-title-top-padding {
	padding-top: 10px;
}